*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ececf8;
    width: 100%;
    height: 100vh;
}
.form{
    width: 34rem;
    height: 30rem;
    background-color: #ffff;
    backdrop-filter: blur(40px);
    margin-left: 28rem;
    margin-top: 3rem;
}
#ll{
    width: 3rem;
    height: 3rem;
}
.lo{
max-width: 32rem;
position: relative;
}
.lp{
    margin-left: 14rem;
    padding-top: 2rem;
}
.pp{
    width: 30rem;
    height: 4rem;
    box-shadow: gray;
    background-color: #ffff;
}
.regi{
    display: flex;
    flex-direction: column;
}
.regi p{
    margin-left: 28rem;
}
#basic-addon2{
    background-color: #17A2b6;
}
.ps{
    color: #ffff;
}
::placeholder{
    font-size: 13px;
}
.rem{
    display: flex;
    margin-left: 24rem;
    
}
.wer{
    color: #fff;
    border-radius: 1rem;
    background:linear-gradient(rgb(42, 167, 240),rgb(4, 94, 146));
    border: none;
    width: 29rem;
    height: 2rem;
    font-size: 10px;
    right: 20rem;
    margin-left: 2rem;
}
.xx{
    display: flex;
    margin-left: 8rem;
    margin-top: 2rem;
}
.xx a{
    font-size: 13px;
}
.xx p{
    font-size: 13px;
}
.xxz{
    display: flex;
    margin-left: 10rem;
    margin-top: 2rem;
}
.xxz a{
    font-size: 13px;
}
.xxz p{
    font-size: 13px;
}
.ic{
    color: #fff;
}
.as{
    margin-top: 1rem;
}
#lo{
position: absolute;
/* bottom: -2px; */
bottom: 10rem;
color:black;
font-size: 15px;
left: 1rem;
margin-top: 1rem;
}
