.po{
    border-radius: 1rem;
    width: 30rem;
    
}
.lo{
    color: blueviolet;
    width: 1.5rem;
    height: 1.5rem;
  
}
.but{
    width: 5rem;
    height: 2rem;
}
.te{
    font-size: 0.75rem;
    margin-left: 1rem;

}
/* .te:focus{
    color: #fff;
}
.loa:focus{
    color: #fff;
} */
.inz{
    width: 3rem;
    height: 2rem; 
}
.inz p{
    font-size: 0.75rem;
    color: #fff;
}
.gh{
    width: 5rem;
    height: 2rem; 
}
.kj{
    font-size: 0.3;
}
.image{
    margin-left: 20rem;
    color: black;
    font-size: 2rem;
}
.inp{
    width: 25rem;
    height: 2rem;
    
    background-color: #fff;
    border-radius: 1.5rem;
    margin-left: 25rem;
    top: 0;
    
}
.icon{
    position: absolute;
    width: 10rem;
    height: 2rem;
    background-color: #17A2b6;
}
.badge{
    position: absolute;
    background-color: #17A2b6;
    width: 2rem;
    height: 12rem;
}
.ss{
    position: relative;
}
.tea{
    background-color: #17A2b6;
    width: 10rem;
    height: 10rem;
}
.lp{
    width: 7rem;
    height: 2rem;
}
.pl{
    margin-left: 6rem;
}
.nav-link {
    color: black;
}
.pac{
    margin-top: 2rem;
    margin-left: 5rem;
    width: 55rem;
    height: 38rem;
    background-color: #ececf8;
}
.res{
    margin-left: 25rem;
   margin-top: 2rem;
   font-weight: bold;
}
.pacs{
    display: flex;
    flex-direction: column;
}
.pacs-top{
    display: flex;
}
.poc{
    width: 25rem;
    height: 8rem;
    border: 2px solid #fff;
}
.con{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.poc-right{
    width: 5rem;
    height: 5rem;
    background-color: orange;
    border-radius: 0.5rem;
    margin-left: 3.5rem;
    margin-top: 1rem;
 
}
.pacs-dow{
    display: flex;
    margin-top: 1rem;
}
#po{
margin-left: 1.5rem;
}
#pl{
margin-left: 1.5rem;
}
.poc-right img{
    display: flex;
    align-items: center;
    justify-content: center;
}
#t1{
margin-left: 2rem;
margin-top: 2rem;
font-size: 14px;
font-weight: bold;
}
#t2{
margin-top: 0.5rem;
font-size: 14px;
font-weight: bold;
}
.bottom-box{
    margin-top: 1.5rem;
    width: 51rem;
    height: 13rem;
    background-color:#fff;
    border: 1px solid gray;
    margin-left: 1.5rem;
}
.lap{
    display: flex;
    margin-left: 42rem;
    margin-top: 1.5rem;
 
}
.oo{
    margin-left: 42rem;
    margin-top: 0.5rem;
    font-size: 14px;
}
#oo{
    font-size: 14px;
  
}
.disco{
    background-color: #D1ECF1;
    color: #0c5460;
    border-color: #bee5eb;
    width: 47rem;
    height: 4rem;
    margin-left: 2.5rem;
}
.disco p{
    text-align: center;
    margin-top: 2rem;
}
.ss{
    margin-top: 3rem;
    
    height: 25rem;
    background-color:#ececf8;
}
.container-con{
    display: flex;
    justify-content: space-around;
}
.container-left{
    display: flex;
    flex-direction: column;
    /* max-width: 15rem !important; */
}
#addon-wrapping{
    background-color: #17A2b6;
    color: #fff;
   
}
.aa{
    margin-top: 3rem;
}
.fo-ico{
    display: flex;
    margin-top: 4rem;
    margin-left: 3rem;
}
/* .xx{
    margin-left: 1rem;
}
.cc{
    margin-left: 1rem;
}
.ss{
    margin-left: 1rem;
} */
#instagram{
    margin-left: 1.5rem;
}
#twi{
    margin-left: 1.5rem;
}
#you{
    margin-left: 1.5rem;
}


.container-rig{
    max-width: 26rem;
    margin-top: 3rem;
}
.container-cen{
/* max-width: 18rem; */
display: flex;
margin-top: 4.5rem;
}
.con-cen{
    display: flex;
    flex-direction: column;
}
.con-cen a{
    text-decoration: none;
}
.rig-ic{
    display: flex;
    margin-left: 9rem;
}

.lop{
    margin-left: 14.5rem;
}
.los{
    margin-left: 17rem;
}
.rig-ic i{
    color: gray;
}
.dr{
font-size: 15px;
}
.cow{
    margin-left: 7rem;

}
.sow{
    margin-left: 4rem;
    align-items:calc(3rem);
}
.w5{
    margin-top: 1rem;
}
.w4{
    margin-top: 1rem;
} 
.w3{
    margin-top: 1rem;
}
.w2{
    margin-top: 1rem;
}
.container-left{
    margin-top: 4.5rem;
    max-width: 21rem;
}
.last{
    padding-top: 5px;
    border-top: 0.5px solid gray;
    max-width: 75rem;
    margin-left: 3rem;
    margin-top: 3rem;
}
.last p{
    margin-left: 27rem;
    margin-top: 1.5rem;
    

}
.right{
    width: 15rem;
    height: 15rem;
    background-color: #17A2b6;
 
}
.user{
    border-radius: 100%;
}
.conetr{
    margin-left: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conetr h5{
    margin-top: 1rem;
    color:#fff;
}
.aio{
    width: 15rem;
    height: 22rem;
    background-color: #ececf8;
    margin-top: 2rem;
}
.poi{
    width: 15rem;
    height: 2.5rem;
    background-color: #17A2b6;
}
.ssw{
    display: flex;
    color: #fff;
    margin-left: 8rem;
    font-size: 14px;
    padding-top: 0.5rem;
}
.bor{
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}
.sso{
    display: flex;
    max-width: 12rem !important;
    color: black;

    font-size: 14px;
    max-height: 3rem;
}
.p1{
    margin-left: 10rem;
    
    padding-top: 1rem;
}
.p2{
    margin-left: 9rem;
    padding-top: 1rem;
}
.p3{
    margin-left: 6.5rem;
    padding-top: 1rem;
}
.p4{
    margin-left: 10rem;
    padding-top: 1rem;
}
.p5{
    margin-left: 9.5rem;
    padding-top: 1rem;


}
.main{
    display: flex;
}
.uy{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 2rem;
}

.qwq{
    text-decoration: none;
}

#inputGroup-sizing-default{
    background-color: #17A2b6;
    color: #fff;
}
.inp{
width: 25rem !important;
    height: 2rem;
    
    background-color: #fff;
    border-radius: 1.5rem;
    margin-left: 32rem;
    top: 0;
    margin-top: -2rem;
}
.image{
    width: 16rem;
    height: 8rem;
    margin-left: 60rem;
    margin-top: -5rem;
}  
.header{
    margin-top: 2rem;
}